# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/

# Playwright
test-results/

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Secrets & Local Configs
grab_curl.txt
*.txt
!requirements.txt
!grab_curl.example.txt
!data/lokasi_jambi.txt

# IDEs
.idea/
.vscode/
*.swp
